In [1]:
# para buscar archivos
from glob import glob
# super excel para analizar
import pandas as pd
# para leer los datos .json
import json
# para hacer busquedas en strings
import re
# para operaciones numericas
import numpy as np
# para que quede mas lindo
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Para bajar los datos (Mati)
# aws s3 sync s3://unket/gyani ./data

In [36]:
def dato2df(f):
    """recibe path al archivo y devuelve DataFrame"""
    with open(f, 'rb') as inp:
        j = inp.read()
        #j = re.sub(r"\\+", r"\\", j)
        data = json.loads(j)
        d = json.loads(data)
        df = pd.read_json(d)
    return df #pd.read_json(j)

In [15]:
files = glob('./datos/*.json')
print(files)
len(files)

['./datos/2020-02-20_21-30-52.json', './datos/2020-02-20_21-28-25.json', './datos/2020-02-19_21-56-29.json', './datos/2020-02-20_21-29-49.json', './datos/2020-02-20_21-02-47.json', './datos/2020-02-19_22-39-44.json', './datos/2020-02-19_22-02-50.json', './datos/2020-02-20_21-30-49.json', './datos/2020-02-20_21-27-48.json', './datos/2020-02-20_21-29-46.json', './datos/2020-02-19_23-10-44.json', './datos/2020-02-22_12-51-24.json']

12

In [40]:
f = files[0]
df = dato2df(f)
df.shape

(13, 8)

In [42]:
df.head()

,button_pressed,internal_node_id,responses,rt,stimulus,time_elapsed,trial_index,trial_type
0,0.0,0.0-0.0,NaN,3105.00,<font size=5.5><p>¡Hola!</p><p><p>Esta encuest...,3112,0,html-button-response
1,0.0,0.0-1.0,NaN,1421.00,<font size=5.5><p>Continuando con el experimen...,4535,1,html-button-response
2,NaN,0.0-2.0,"{""undefined"":""6""}",23446.91,NaN,27996,2,survey-text
3,NaN,0.0-3.0,"{""Q0"":""Masculino"",""Q1"":""Licenciatura de grado""}",14227.00,NaN,42232,3,survey-multi-choice
4,NaN,0.0-5.0,"{""Q0"":""Terapias Cognitivas/Comportamentales""}",7055.00,NaN,49296,4,survey-multi-choice

In [47]:
df.describe()

       button_pressed           rt   time_elapsed  trial_index
count             2.0     13.00000      13.000000     13.00000
mean              0.0  24212.34000  107516.615385      6.00000
std               0.0  21921.12376  101810.896208      3.89444
min               0.0   1421.00000    3112.000000      0.00000
25%               0.0   7055.00000   42232.000000      3.00000
50%               0.0  14227.00000   68268.000000      6.00000
75%               0.0  36245.00000  147306.000000      9.00000
max               0.0  66466.00000  315116.000000     12.00000

In [48]:
df

,button_pressed,internal_node_id,responses,rt,stimulus,time_elapsed,trial_index,trial_type
0,0.0,0.0-0.0,NaN,3105.00,<font size=5.5><p>¡Hola!</p><p><p>Esta encuest...,3112,0,html-button-response
1,0.0,0.0-1.0,NaN,1421.00,<font size=5.5><p>Continuando con el experimen...,4535,1,html-button-response
2,NaN,0.0-2.0,"{""undefined"":""6""}",23446.91,NaN,27996,2,survey-text
3,NaN,0.0-3.0,"{""Q0"":""Masculino"",""Q1"":""Licenciatura de grado""}",14227.00,NaN,42232,3,survey-multi-choice
4,NaN,0.0-5.0,"{""Q0"":""Terapias Cognitivas/Comportamentales""}",7055.00,NaN,49296,4,survey-multi-choice
5,NaN,0.0-6.0-0.0,"{""Q0"":[""Terapia Cognitiva (Beck)"",""Terapia bas...",13149.00,NaN,62454,5,survey-multi-select
6,NaN,0.0-11.0,"{""Q0"":[""Otro""]}",5811.00,NaN,68268,6,survey-multi-select
7,NaN,0.0-12.0-0.0,"{""undefined"":""hospital""}",8292.14,NaN,76563,7,survey-text
8,NaN,0.0-13.0,"{""Q0"":""Influyó totalmente"",""Q1"":""Un poco"",""Q2""...",34464.00,NaN,111040,8,survey-multi-choice
9,NaN,0.0-14.0,"{""Q0"":""A veces"",""Q1"":""Siempre"",""Q2"":""Siempre"",...",36245.00,NaN,147306,9,survey-multi-choice
10,NaN,0.0-15.0,"{""Q0"":""Fuertemente de acuerdo"",""Q1"":""Fuertemen...",66466.00,NaN,213798,10,survey-multi-choice
11,NaN,0.0-16.0,"{""Q0"":""Fuertemente de acuerdo"",""Q1"":""Fuertemen...",62177.00,NaN,276000,11,survey-multi-choice
12,NaN,0.0-17.0,"{""undefined"":"":)""}",38901.37,NaN,315116,12,survey-text